<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="CampusConnectionString"
         connectionString="Data Source=.\SQLExpress;Initial Catalog=Campus;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <sessionState timeout="30"></sessionState>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1073741824" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>


      
      </assemblies>

    </compilation>
     <customErrors mode="On" defaultRedirect="Error_404.aspx">
          <error statusCode="404" redirect="Error_404.aspx" />
         
       </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
<security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

</configuration>